runtime: python
env: flex
entrypoint: gunicorn -b :$PORT mysite.wsgi

runtime_config:
    python_version: 3

env_variables:
  BTCDE_API_KEY: ''
  BTCDE_API_SECRET: ''

beta_settings:
    cloud_sql_instances:
